# SPDX-License-Identifier: GPL-2.0-only
#
# BGP configuration
#

config BGP
	tristate "Border Gateway Protocol"
	depends on INET
	default n
	help
	Enable kernel support for BGP protocol.

	If unsure, say N.
